@-webkit-keyframes glowGreen 
{from {-webkit-box-shadow: rgba(0, 255, 0, 0) 0 0 0;}
50%{-webkit-box-shadow: rgba(0, 255, 0, 1) 0 0 10px;}
to {-webkit-box-shadow: rgba(0, 255, 0, 0) 0 0 0;}}
@-webkit-keyframes glowRed 
{from {-webkit-box-shadow: rgba(255, 0, 0, 0) 0 0 0;}
50%{-webkit-box-shadow: rgba(255, 0, 0, 1) 0 0 10px;}
to {-webkit-box-shadow: rgba(255, 0, 0, 0) 0 0 0;}}
#connection {
  font: 14px Arial, sans-serif;
  font-weight: bold;
  vertical-align: middle;
  color: black;
}
#connection div {
  background-color: orange;
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 10px;
  margin-left: 5px;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
#connection.connected div {
  background-color: green;
  -webkit-box-shadow: rgba(0, 255, 0, 0.5) 0px 0px 5px;
  -webkit-animation-name: glowGreen;
}
#connection.disconnected div {
  background-color: red;
  -webkit-box-shadow: rgba(255, 0, 0, 0.5) 0px 0px 5px;
  -webkit-animation-name: glowRed;
}
#log .info {
  color: navy;
  font-weight: bold;
  font: 10px Arial, sans-serif !important;
  margin-top:-15px;
}
.card-text
{
	 max-width: 100%;
	 white-space: nowrap; 
	 overflow: hidden;
	 text-overflow: ellipsis;
}
.icon:hover 
{
    color: green !important;
    font-size: 1.1em !important;
}
.border-5 
{
    border-width:5px !important;
}